<div class="result-head-wrap">
	<div class="result-head d-flex">
		<div class="mr-auto">{{ searchVal }} için sonuçlar</div>
		<div class="ml-auto">{{ data.length }} film bulundu</div>
	</div>
</div>
<div class="result-page content">
	<div class="film-boxes">
		<div class="container">
			<div class="row">
				<div class="film-box list col-lg-6" *ngFor="let dt of data">
					<div class="row">
						<div class="film-poster col-lg-5">
							<a [routerLink]="['../../detail', dt.imdbID]">
								<img *ngIf="dt.Poster != 'N/A'" src="{{dt.Poster}}">
								<img *ngIf="dt.Poster == 'N/A'" src="../../assets/img/default_poster.png">
							</a>
						</div>
						<div class="film-text col-lg-7">
							<div class="film-text-top">
								<div class="title">{{ dt.Title }}</div>
								<div class="rating" *ngIf="data.imdbRating != 'N/A'">
									<span>{{ dt.imdbRating }}</span>
									<span>/10</span>
								</div>
							</div>
							<div class="film-text-middle">
								<div class="lang"><span>Dil: </span>{{ dt.Language }}</div>
								<div class="actors"><span>Oyuncular: </span>{{ dt.Actors }}</div>
							</div>
							<div class="film-text-bottom">
								<div class="plot">{{ dt.Plot }}</div>
								<a class="detail-link" [routerLink]="['../../detail', dt.imdbID]">Detaylar</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="button-wrap">
		<a href="javascript:void(0)" (click)="onLoadHome()">BAŞA DÖN</a>
	</div>
</div>